{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <div>
        <div class="text-center mt-5">
                    <img src="{% static 'core/images/chetanpic.jpg' %}" alt="propic" class="img-thumbnail" width="200px" height="130px">
        </div>
        <div class="mt-5 text-white text-justify">
            <h1 class="font-weight-bold">Hello</h1>
        <div>
            <p style="text-indent:100px;">My name is Chetan sul, I’ve been studying computer science for two years. In order to kick-start my career before I graduate, I am looking for a interships of a web developer,backende developer or software development, since that’s what I’ve been doing already for two years in my free time. Designing websites for friends, developing simple e-shops with the help of some open source content-management systems, and so on. Besides that I am a normal guy who enjoys hiking and playing sports. If I should pick the best website I’ve designed up to this point, it will be this one: Job portal. I am ambitious and hard-working and believe you’ll give me a chance to prove my words.</p>
        </div>
        </div>
        <div class="text-center">
            <a href="{% url 'skill' %}" class="btn btn-outline-warning my-3 mr-5">Skills</a>
            <a href="{% url 'contact' %}" class="btn btn-outline-dark my-3 ">contact</a>
        </div>


    </div>
{% endblock content %}