{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <div>
        <div class="text-center mt-5">
                    <img src="{% static 'core/images/chetan.jpg' %}" alt="propic" class="img-thumbnail" width="150px" height="100px">
        </div>
        <div class="mt-5 text-white text-justify">
            <h1 class="font-weight-bold">Hello</h1>
        <div>
            <p style="text-indent:100px;">There was nothing to indicate Nancy was going to change the world. She looked like an average girl going to an average high school. It was the fact that everything about her seemed average that would end up becoming her superpower.
                The red glint of paint sparkled under the sun. He had dreamed of owning this car since he was ten, and that dream had become a reality less than a year ago. It was his baby and he spent hours caring for it, pampering it, and fondling over it. She knew this all too well, and that's exactly why she had taken a sludge hammer to it.
                The red glint of paint sparkled under the sun. He had dreamed of owning this car since he was ten, and that dream had become a reality less than a year ago. It was his baby and he spent hours caring for it, pampering it, and fondling over it. She knew this all too well, and that's exactly why she had taken a sludge hammer to it.
                The red glint of paint sparkled under the sun. He had dreamed of owning this car since he was ten, and that dream had become a reality less than a year ago. It was his baby and he spent hours caring for it, pampering it, and fondling over it. She knew this all too well, and that's exactly why she had taken a sludge hammer to it.
                She considered the birds to be her friends. She'd put out food for them each morning and then she'd watch as they came to the feeders to gorge themselves for the day. She wondered what they would do if something ever happened to her. Would they miss the meals she provided if she failed to put out the food one morning?
            </p>
        </div>
        </div>
        <div class="text-center">
            <a href="" class="btn btn-outline-warning my-3 mr-5">Hire me</a>
            <a href="{% url 'contact' %}" class="btn btn-outline-dark my-3 ">contact</a>
        </div>


    </div>
{% endblock content %}